@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%; */
}

body{
    background-image: linear-gradient(to right,#FBCEAD,#F69B9A);
}

main{
    background-color: white;
    width: 450px;
    padding: 10px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #EF4665;
}

h1{
    color: #EF4665;
    text-align: center;
    text-shadow: 1px 1px 2px #89283ab9;
}

h2{
    color: #628273;
}

p{
    text-align: justify;
}